In [1]:
import os
import sys
from dotenv import load_dotenv, find_dotenv

In [2]:
import json

In [3]:
import pandas as pd
import numpy as np

In [4]:
STREAMLIT_FOLDER_PATH = os.path.join(os.path.dirname(os.getcwd()), "streamlit")

In [5]:
SCAN_FOLDER_PATH = os.path.join(os.path.dirname(os.getcwd()), "streamlit","scan")

In [6]:
DATA_FOLDER_PATH = os.path.join(os.path.dirname(os.getcwd()), "data","deploy3")

In [7]:
sys.path.append(SCAN_FOLDER_PATH)

In [8]:
sys.path.append(DATA_FOLDER_PATH)

In [16]:
players = pd.read_pickle(os.path.join(DATA_FOLDER_PATH,"initial","players.pkl"))

In [23]:
players.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0xeedb9220C43f29Bd807Fd2c092c0EFA841F67ED4,0xfff069C7de69b4433050E7AaeaB4BB198541DF56,1.0,4.0,0.292,1.3,5.0,-1.008
1,0xCb75970cd756b4a61011e0769f2299529d7ca1C6,0xffb0A17E69CB382175503cfe0B029b179658a06A,1.0,1.0,0.096,0.1,2.0,-0.004
2,0x4eFCE49177BA93E0d103C2e97f9446eEc67Ebd1b,0xffC43AAF9c2757BedF25155735B7d886093279bB,0.0,1.0,0.000,0.1,1.0,-0.100
3,0x37Bd449B9e6Cfde37d2242d83D3164a25d3d8132,0xff8FBcf1Cb1cBa9C2714894332251808456cCa90,0.0,1.0,0.000,0.1,1.0,-0.100
4,0x181013F3dDF8F6Cc041c2da48055916d2916aF2e,0xff77d744410d38Ec7DF31569eE0489722FF39929,0.0,1.0,0.000,0.1,1.0,-0.100

In [34]:
players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17882 entries, 0 to 17881
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   burners         17882 non-null  object
 1   burnerParent    17882 non-null  object
 2   totalWins       17882 non-null  float64
 3   totalLosses     17882 non-null  float64
 4   totalGasEarned  17882 non-null  float64
 5   totalGasLost    17882 non-null  float64
 6   totalGames      17882 non-null  float64
 7   totalRevenue    17882 non-null  float64
dtypes: float64(6), object(2)
memory usage: 1.2+ MB

In [35]:
diffs = pd.read_pickle(os.path.join(DATA_FOLDER_PATH,"diff","diff.pkl"))

In [36]:
diffs.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x00000002f32C0886eE65D68059Fbdb76EF6A6996,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
1,0x0000005E1f4EC3CbE90a8705624AA5396E221394,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
2,0x0000040f1111c5C3d2037940658Ee770BB37e0a2,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
3,0x000267dC132d3A6eaA505D039E9B82Ab41f05082,0x0624151c9d78679D389Deb14c9A5D26bA24FAc0c,0,0,0,0,0,0
4,0x0006C3E6A2A22797660ecF7A91C2F4618eD2d206,0xF656500F902F0202c54db85D267F91Ecc0784c1a,0,0,0,0,0,0

In [37]:
diffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17842 entries, 0 to 17841
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   burners         17842 non-null  object
 1   burnerParent    17842 non-null  object
 2   totalWins       17842 non-null  int64
 3   totalLosses     17842 non-null  int64
 4   totalGasEarned  17842 non-null  int64
 5   totalGasLost    17842 non-null  int64
 6   totalGames      17842 non-null  int64
 7   totalRevenue    17842 non-null  int64
dtypes: int64(6), object(2)
memory usage: 1.1+ MB

In [38]:
17842+17882

35724

In [39]:
combineDf = pd.concat([players,diffs])
combineDf.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0xeedb9220C43f29Bd807Fd2c092c0EFA841F67ED4,0xfff069C7de69b4433050E7AaeaB4BB198541DF56,1.0,4.0,0.292,1.3,5.0,-1.008
1,0xCb75970cd756b4a61011e0769f2299529d7ca1C6,0xffb0A17E69CB382175503cfe0B029b179658a06A,1.0,1.0,0.096,0.1,2.0,-0.004
2,0x4eFCE49177BA93E0d103C2e97f9446eEc67Ebd1b,0xffC43AAF9c2757BedF25155735B7d886093279bB,0.0,1.0,0.000,0.1,1.0,-0.100
3,0x37Bd449B9e6Cfde37d2242d83D3164a25d3d8132,0xff8FBcf1Cb1cBa9C2714894332251808456cCa90,0.0,1.0,0.000,0.1,1.0,-0.100
4,0x181013F3dDF8F6Cc041c2da48055916d2916aF2e,0xff77d744410d38Ec7DF31569eE0489722FF39929,0.0,1.0,0.000,0.1,1.0,-0.100

In [43]:
combineDf.drop_duplicates(subset="burners",inplace=True)

In [46]:
combineDf.reset_index(drop=True, inplace=True)

In [48]:
combineDf.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0xeedb9220C43f29Bd807Fd2c092c0EFA841F67ED4,0xfff069C7de69b4433050E7AaeaB4BB198541DF56,1.0,4.0,0.292,1.3,5.0,-1.008
1,0xCb75970cd756b4a61011e0769f2299529d7ca1C6,0xffb0A17E69CB382175503cfe0B029b179658a06A,1.0,1.0,0.096,0.1,2.0,-0.004
2,0x4eFCE49177BA93E0d103C2e97f9446eEc67Ebd1b,0xffC43AAF9c2757BedF25155735B7d886093279bB,0.0,1.0,0.000,0.1,1.0,-0.100
3,0x37Bd449B9e6Cfde37d2242d83D3164a25d3d8132,0xff8FBcf1Cb1cBa9C2714894332251808456cCa90,0.0,1.0,0.000,0.1,1.0,-0.100
4,0x181013F3dDF8F6Cc041c2da48055916d2916aF2e,0xff77d744410d38Ec7DF31569eE0489722FF39929,0.0,1.0,0.000,0.1,1.0,-0.100

In [50]:
combineDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35708 entries, 0 to 35707
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   burners         35708 non-null  object
 1   burnerParent    35708 non-null  object
 2   totalWins       35708 non-null  float64
 3   totalLosses     35708 non-null  float64
 4   totalGasEarned  35708 non-null  float64
 5   totalGasLost    35708 non-null  float64
 6   totalGames      35708 non-null  float64
 7   totalRevenue    35708 non-null  float64
dtypes: float64(6), object(2)
memory usage: 2.2+ MB

In [51]:
combineDf.to_csv("burners131023.csv",index=False)
combineDf.to_pickle("burners131023.pkl")

In [24]:
with open(os.path.join(STREAMLIT_FOLDER_PATH,"GameEnded.json")) as royaleJson:
        #with bucket.blob(eventName+".json").open("r") as royaleJson:
            gameEndedJson = json.loads(royaleJson.read())

In [25]:
gameEnded = pd.DataFrame([event for _, d in gameEndedJson.get("blocks").items() for hash, 
                        txn in d.items() for i, event in txn.items()])

In [26]:
print(len(gameEnded._winner.values))
gameEnded._winner.values

42403

array(['0x8A2FA09530F858D2B064d5539aa755E8b901033a',
       '0xD938fFd07F56087aE52E1C1D9036E587C568597f',
       '0x0aCf75e7C29bd27f1CD6Ed47c8769c61Bc6a6881', ...,
       '0x9ef71eE24c0E6A6c43fb7d6C0CdCe43A5C8979B2',
       '0xf51FEa9c163a49Eb676dA0850349ad91d4671f2b',
       '0xa319E9747ccCbEF01ea73bDC6F89be5eD727fc1d'], dtype=object)

In [27]:
with open(os.path.join(STREAMLIT_FOLDER_PATH,"PlayerKilled.json")) as royaleJson:
        #with bucket.blob(eventName+".json").open("r") as royaleJson:
            playerKilledJson = json.loads(royaleJson.read())

In [28]:
pKilled = pd.DataFrame([event for _, d in playerKilledJson.get("blocks").items() for hash, 
                        txn in d.items() for i, event in txn.items()])

In [29]:
print(len(pKilled._player.values))
pKilled._player.values

80724

array(['0x6c228b26bC8AA19a486380E80f18784123d3D0a0',
       '0xF2aa741cAfe1E8D2a244A281d0fDE100DB2111fD',
       '0x22e9d23d61f0bF4922aB96bD40c461234B155743', ...,
       '0x9e9D516367d22F10961445b2477Dbf2A2F23916c',
       '0x97106d6f810954411c731118BF45065FA185d2C3',
       '0xAbF1BD29799367aE780Dc085A6728c001a12cA6f'], dtype=object)

In [30]:
all_scraped_burners = np.append(pKilled._player.values, gameEnded._winner.values)
print(len(all_scraped_burners))
all_scraped_burners

123127

array(['0x6c228b26bC8AA19a486380E80f18784123d3D0a0',
       '0xF2aa741cAfe1E8D2a244A281d0fDE100DB2111fD',
       '0x22e9d23d61f0bF4922aB96bD40c461234B155743', ...,
       '0x9ef71eE24c0E6A6c43fb7d6C0CdCe43A5C8979B2',
       '0xf51FEa9c163a49Eb676dA0850349ad91d4671f2b',
       '0xa319E9747ccCbEF01ea73bDC6F89be5eD727fc1d'], dtype=object)

In [31]:
unique_scraped = np.unique(all_scraped_burners)
print(len(unique_scraped))
unique_scraped

35703

array(['0x00000002f32C0886eE65D68059Fbdb76EF6A6996',
       '0x0000005E1f4EC3CbE90a8705624AA5396E221394',
       '0x0000040f1111c5C3d2037940658Ee770BB37e0a2', ...,
       '0xfff28B86a90339520059202Ceb9a3564E031CF03',
       '0xfff481da300A4fc90AD6BBd862b43b6527cb8dCB',
       '0xfff64347cbF5Cbc5b608E51eAC72D3d38f441b0a'], dtype=object)

In [32]:
np.setdiff1d(players["burners"], unique_scraped)

array(['0x1B0eDb82359e811a4934aaDF6Be51f293c1AE803',
       '0x4434747d375a53cB57A43f578EA045458C54222a',
       '0x9B29c8a4314F5e54AE891370Aebad969F6FB43d4',
       '0xE49AD4C7459299C0e1B2b5DA568e1642b5cc26B5',
       '0xde083e5FC0b840463459C621fd6e1cFa5fE6e677'], dtype=object)

In [33]:
set_diff = np.setdiff1d(unique_scraped, players["burners"])
print(len(set_diff))
set_diff

17842

array(['0x00000002f32C0886eE65D68059Fbdb76EF6A6996',
       '0x0000005E1f4EC3CbE90a8705624AA5396E221394',
       '0x0000040f1111c5C3d2037940658Ee770BB37e0a2', ...,
       '0xffecE27b3502d78358460CA06f0908383FF7eb46',
       '0xfff481da300A4fc90AD6BBd862b43b6527cb8dCB',
       '0xfff64347cbF5Cbc5b608E51eAC72D3d38f441b0a'], dtype=object)

In [40]:
dfSetDiff = pd.DataFrame(set_diff)
dfSetDiff.rename(columns = {0:'burners'}, inplace = True)
dfSetDiff["burnerParent"] = "0x0000000000000000000000000000000000000000"
dfSetDiff["totalWins"]=0
dfSetDiff["totalLosses"]=0
dfSetDiff["totalGasEarned"]=0
dfSetDiff["totalGasLost"]=0
dfSetDiff["totalGames"]=0
dfSetDiff["totalRevenue"]=0

In [41]:
dfSetDiff.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x00000002f32C0886eE65D68059Fbdb76EF6A6996,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
1,0x0000005E1f4EC3CbE90a8705624AA5396E221394,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
2,0x0000040f1111c5C3d2037940658Ee770BB37e0a2,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
3,0x000267dC132d3A6eaA505D039E9B82Ab41f05082,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
4,0x0006C3E6A2A22797660ecF7A91C2F4618eD2d206,0x0000000000000000000000000000000000000000,0,0,0,0,0,0

In [42]:
dfSetDiff.to_pickle("setDiff131023.pkl")
dfSetDiff.to_csv("setDiff131023.csv", index=False)

In [21]:
len(players)

17882

In [39]:
players = players[~players["burners"].isin(set_diff)]
print(len(players))
players.head()

4393

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x7b8eF2675A64fe54eF114F487F559F2b9d6073fa,0x36d4B301334EDdCf5FF9603750A81C4799Ed9f44,1.0,25.0,0.096,2.5,26.0,-2.404
1,0x0000005E1f4EC3CbE90a8705624AA5396E221394,0x0000000000000000000000000000000000000000,5.0,17.0,0.578,4.4,22.0,-3.822
2,0x931262767377D9fFe050017E3b74FfF66742015D,0x0000000000000000000000000000000000000000,8.0,13.0,0.964,1.3,21.0,-0.336
3,0xADbE60478f814e6bB3E1c4A69670Fae36c8C68F5,0x8650Ea8ED8D56B18087451c4E083244e8E3F3826,1.0,19.0,0.292,1.9,20.0,-1.608
4,0x03aB242c1D91b0Cf8bF7bb794461aD895AC3696c,0xe6BE238c591264B524b6AB65ff8Ab72f3bA4AFa1,4.0,13.0,1.168,1.3,17.0,-0.132

In [40]:
new_players = pd.DataFrame(set_diff, columns=["burners"])

In [41]:
new_players["burnerParent"] = "0x0"

In [42]:
new_players[["totalWins", "totalLosses", "totalGasEarned", "totalGasLost"]] = 0

In [43]:
len(new_players)

14911

In [44]:
players = pd.concat([players, new_players])
print(len(players))
players.tail()

19304

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
14906,0xffa87ed1477FCc96C19aecD6d802f6b0EBf2149D,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14907,0xffe164701953742Bdb16EE071b3dc6717AEcdEd1,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14908,0xffe9ACA61ad014dc74aBcc0A0b5fe60BccdD345E,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14909,0xfff0d61Fa2A17e28b3e3a3BCdD0a1a48a7924F64,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14910,0xfff28B86a90339520059202Ceb9a3564E031CF03,0x0,0.0,0.0,0.0,0.0,NaN,NaN

In [46]:
players.to_csv("players.csv", index=False)

In [47]:
players.to_pickle("players.pkl")