In [1]:
import os
import sys
from dotenv import load_dotenv, find_dotenv

In [2]:
import json

In [3]:
import pandas as pd
import numpy as np

In [4]:
STREAMLIT_FOLDER_PATH = os.path.join(os.path.dirname(os.getcwd()), "streamlit")

In [5]:
SCAN_FOLDER_PATH = os.path.join(os.path.dirname(os.getcwd()), "streamlit","scan")

In [6]:
DATA_FOLDER_PATH = os.path.join(os.path.dirname(os.getcwd()), "data","deploy5")

In [7]:
sys.path.append(SCAN_FOLDER_PATH)

In [8]:
sys.path.append(DATA_FOLDER_PATH)

In [9]:
players = pd.read_pickle(os.path.join(DATA_FOLDER_PATH,"initial","players.pkl"))

In [10]:
players.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x3b44a30f9c125efC059caCb44f9Bbe2e3Fd94DFC,0xB32970743a239397e9cfe02a1D86eb4B734098DB,103.0,143.0,10.476,14.3,246.0,-3.824
1,0x4c0aBC4242e72Ae4c1431267e7Ab9EFfb516F1e9,0x03CE28D064cBFAcD218E37481AfC4606FcB518B4,13.0,129.0,3.698,12.9,142.0,-9.202
2,0x3FE255c4d125290977f5583F849040416CCE938c,0xE830F2785E2C4abbE8B9BCA738Efd6DE50D0CB86,33.0,58.0,3.364,5.8,91.0,-2.436
3,0x44a1Eb48c93B6297Dbf43B8896A2e793610B756d,0x512F753e1bF0b846de1FCdEbCEecab1CEa603E6d,31.0,43.0,3.172,4.3,74.0,-1.128
4,0x7141Bd2E038cc89E8D3c4dA6d87740949dF40212,0x7A1f11FF4d3a14452090b28Ea09Fe40F0cA94f81,16.0,41.0,2.124,4.1,57.0,-1.976

In [11]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53805 entries, 0 to 53804
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   burners         53805 non-null  object
 1   burnerParent    53805 non-null  object
 2   totalWins       53805 non-null  float64
 3   totalLosses     53805 non-null  float64
 4   totalGasEarned  53805 non-null  float64
 5   totalGasLost    53805 non-null  float64
 6   totalGames      53805 non-null  float64
 7   totalRevenue    53805 non-null  float64
dtypes: float64(6), object(2)
memory usage: 3.3+ MB

In [13]:
diffs = pd.read_pickle(os.path.join(DATA_FOLDER_PATH,"diff","diff.pkl"))

In [14]:
diffs.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x0002E146daCa67C836cE258E6518eA194CEf583A,0x23296915893ceeD47b13Fd65b91640406FD362bf,0,0,0,0,0,0
1,0x0006a0967A2AB2f6183B5c4869eF54d609415157,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
2,0x000F37e3f9b750b70D8E68039a0545A616909Fb7,0x4c39B9178F7b0c0841F8b0C666D0a2eea952a384,0,0,0,0,0,0
3,0x000bbF0230CF989E24273986477fd3883FbC6705,0x6A24032672C4b3A8d4118477E8B0b59441f4AD4C,0,0,0,0,0,0
4,0x00149e4A3C719d660EA478033a0144a11092AC7a,0x3219447d0E2943BCeC9fE306c7aB6dC911400c90,0,0,0,0,0,0

In [15]:
diffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24601 entries, 0 to 24600
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   burners         24601 non-null  object
 1   burnerParent    24601 non-null  object
 2   totalWins       24601 non-null  int64
 3   totalLosses     24601 non-null  int64
 4   totalGasEarned  24601 non-null  int64
 5   totalGasLost    24601 non-null  int64
 6   totalGames      24601 non-null  int64
 7   totalRevenue    24601 non-null  int64
dtypes: int64(6), object(2)
memory usage: 1.5+ MB

In [16]:
combineDf = pd.concat([players,diffs])
combineDf.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x3b44a30f9c125efC059caCb44f9Bbe2e3Fd94DFC,0xB32970743a239397e9cfe02a1D86eb4B734098DB,103.0,143.0,10.476,14.3,246.0,-3.824
1,0x4c0aBC4242e72Ae4c1431267e7Ab9EFfb516F1e9,0x03CE28D064cBFAcD218E37481AfC4606FcB518B4,13.0,129.0,3.698,12.9,142.0,-9.202
2,0x3FE255c4d125290977f5583F849040416CCE938c,0xE830F2785E2C4abbE8B9BCA738Efd6DE50D0CB86,33.0,58.0,3.364,5.8,91.0,-2.436
3,0x44a1Eb48c93B6297Dbf43B8896A2e793610B756d,0x512F753e1bF0b846de1FCdEbCEecab1CEa603E6d,31.0,43.0,3.172,4.3,74.0,-1.128
4,0x7141Bd2E038cc89E8D3c4dA6d87740949dF40212,0x7A1f11FF4d3a14452090b28Ea09Fe40F0cA94f81,16.0,41.0,2.124,4.1,57.0,-1.976

In [17]:
combineDf.drop_duplicates(subset="burners",inplace=True)

In [18]:
combineDf.reset_index(drop=True, inplace=True)

In [19]:
combineDf.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x3b44a30f9c125efC059caCb44f9Bbe2e3Fd94DFC,0xB32970743a239397e9cfe02a1D86eb4B734098DB,103.0,143.0,10.476,14.3,246.0,-3.824
1,0x4c0aBC4242e72Ae4c1431267e7Ab9EFfb516F1e9,0x03CE28D064cBFAcD218E37481AfC4606FcB518B4,13.0,129.0,3.698,12.9,142.0,-9.202
2,0x3FE255c4d125290977f5583F849040416CCE938c,0xE830F2785E2C4abbE8B9BCA738Efd6DE50D0CB86,33.0,58.0,3.364,5.8,91.0,-2.436
3,0x44a1Eb48c93B6297Dbf43B8896A2e793610B756d,0x512F753e1bF0b846de1FCdEbCEecab1CEa603E6d,31.0,43.0,3.172,4.3,74.0,-1.128
4,0x7141Bd2E038cc89E8D3c4dA6d87740949dF40212,0x7A1f11FF4d3a14452090b28Ea09Fe40F0cA94f81,16.0,41.0,2.124,4.1,57.0,-1.976

In [20]:
combineDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78406 entries, 0 to 78405
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   burners         78406 non-null  object
 1   burnerParent    78406 non-null  object
 2   totalWins       78406 non-null  float64
 3   totalLosses     78406 non-null  float64
 4   totalGasEarned  78406 non-null  float64
 5   totalGasLost    78406 non-null  float64
 6   totalGames      78406 non-null  float64
 7   totalRevenue    78406 non-null  float64
dtypes: float64(6), object(2)
memory usage: 4.8+ MB

In [21]:
combineDf.to_csv("burners281023b.csv",index=False)
combineDf.to_pickle("burners281023b.pkl")

In [19]:
players = combineDf

In [20]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50518 entries, 0 to 50517
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   burners         50518 non-null  object
 1   burnerParent    50518 non-null  object
 2   totalWins       50518 non-null  float64
 3   totalLosses     50518 non-null  float64
 4   totalGasEarned  50518 non-null  float64
 5   totalGasLost    50518 non-null  float64
 6   totalGames      50518 non-null  float64
 7   totalRevenue    50518 non-null  float64
dtypes: float64(6), object(2)
memory usage: 3.1+ MB

In [10]:
with open(os.path.join(STREAMLIT_FOLDER_PATH,"GameEnded.json")) as royaleJson:
        #with bucket.blob(eventName+".json").open("r") as royaleJson:
            gameEndedJson = json.loads(royaleJson.read())

In [11]:
gameEnded = pd.DataFrame([event for _, d in gameEndedJson.get("blocks").items() for hash, 
                        txn in d.items() for i, event in txn.items()])

In [12]:
print(len(gameEnded._winner.values))
gameEnded._winner.values

97590

array(['0x8A2FA09530F858D2B064d5539aa755E8b901033a',
       '0xD938fFd07F56087aE52E1C1D9036E587C568597f',
       '0x0aCf75e7C29bd27f1CD6Ed47c8769c61Bc6a6881', ...,
       '0x8C594F19a914BD1491B6bc29E9bf48c9030e1F6a',
       '0xC395CA18bE3De680F994d6a66B4077D50192e820',
       '0xc9e128D44c70Fece4a2CFdFA554B96f35f7aA741'], dtype=object)

In [16]:
with open(os.path.join(STREAMLIT_FOLDER_PATH,"PlayerKilled.json")) as royaleJson:
        #with bucket.blob(eventName+".json").open("r") as royaleJson:
            playerKilledJson = json.loads(royaleJson.read())

In [14]:
pKilled = pd.DataFrame([event for _, d in playerKilledJson.get("blocks").items() for hash, 
                        txn in d.items() for i, event in txn.items()])

In [15]:
print(len(pKilled._player.values))
pKilled._player.values

169213

array(['0x6c228b26bC8AA19a486380E80f18784123d3D0a0',
       '0xF2aa741cAfe1E8D2a244A281d0fDE100DB2111fD',
       '0x22e9d23d61f0bF4922aB96bD40c461234B155743', ...,
       '0x1fC8B55b464adD24408e6b5E29C42D30baDe067f',
       '0xc92Ea0Fa32A82F55013d407cD0c7a1C98B8769aE',
       '0x1575d45AFCC19B676796581CcA8d02D4AB92F38D'], dtype=object)

In [17]:
all_scraped_burners = np.append(pKilled._player.values, gameEnded._winner.values)
print(len(all_scraped_burners))
all_scraped_burners

266803

array(['0x6c228b26bC8AA19a486380E80f18784123d3D0a0',
       '0xF2aa741cAfe1E8D2a244A281d0fDE100DB2111fD',
       '0x22e9d23d61f0bF4922aB96bD40c461234B155743', ...,
       '0x8C594F19a914BD1491B6bc29E9bf48c9030e1F6a',
       '0xC395CA18bE3De680F994d6a66B4077D50192e820',
       '0xc9e128D44c70Fece4a2CFdFA554B96f35f7aA741'], dtype=object)

In [18]:
unique_scraped = np.unique(all_scraped_burners)
print(len(unique_scraped))
unique_scraped

78401

array(['0x00000002f32C0886eE65D68059Fbdb76EF6A6996',
       '0x0000005E1f4EC3CbE90a8705624AA5396E221394',
       '0x0000040f1111c5C3d2037940658Ee770BB37e0a2', ...,
       '0xfff64347cbF5Cbc5b608E51eAC72D3d38f441b0a',
       '0xfff724f5AfFA86B506C15fa0082F502F1f9272C4',
       '0xfffc28211D0937a0146E69766e2C9b60Ec940832'], dtype=object)

In [19]:
set_diff = np.setdiff1d(unique_scraped, players["burners"])
print(len(set_diff))
set_diff

24601

array(['0x0002E146daCa67C836cE258E6518eA194CEf583A',
       '0x0006a0967A2AB2f6183B5c4869eF54d609415157',
       '0x000F37e3f9b750b70D8E68039a0545A616909Fb7', ...,
       '0xffb22fB6a4D8A777E395E96e52f6B4aA9A165EA3',
       '0xffcc31474063580FC2A9237028C7d637f75EcE22',
       '0xfff724f5AfFA86B506C15fa0082F502F1f9272C4'], dtype=object)

In [20]:
wrongset = np.setdiff1d(players["burners"], unique_scraped)

In [21]:
print(len(wrongset))

5

In [20]:
dfSetDiff = pd.DataFrame(set_diff)
dfSetDiff.rename(columns = {0:'burners'}, inplace = True)
dfSetDiff["burnerParent"] = "0x0000000000000000000000000000000000000000"
dfSetDiff["totalWins"]=0
dfSetDiff["totalLosses"]=0
dfSetDiff["totalGasEarned"]=0
dfSetDiff["totalGasLost"]=0
dfSetDiff["totalGames"]=0
dfSetDiff["totalRevenue"]=0

In [21]:
dfSetDiff.head()

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x0002E146daCa67C836cE258E6518eA194CEf583A,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
1,0x0006a0967A2AB2f6183B5c4869eF54d609415157,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
2,0x000F37e3f9b750b70D8E68039a0545A616909Fb7,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
3,0x000bbF0230CF989E24273986477fd3883FbC6705,0x0000000000000000000000000000000000000000,0,0,0,0,0,0
4,0x00149e4A3C719d660EA478033a0144a11092AC7a,0x0000000000000000000000000000000000000000,0,0,0,0,0,0

In [22]:
dfSetDiff.to_pickle("setDiff281023b.pkl")
dfSetDiff.to_csv("setDiff281023b.csv", index=False)

In [23]:
len(dfSetDiff)

24601

In [24]:
len(players)

53805

In [39]:
players = players[~players["burners"].isin(set_diff)]
print(len(players))
players.head()

4393

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
0,0x7b8eF2675A64fe54eF114F487F559F2b9d6073fa,0x36d4B301334EDdCf5FF9603750A81C4799Ed9f44,1.0,25.0,0.096,2.5,26.0,-2.404
1,0x0000005E1f4EC3CbE90a8705624AA5396E221394,0x0000000000000000000000000000000000000000,5.0,17.0,0.578,4.4,22.0,-3.822
2,0x931262767377D9fFe050017E3b74FfF66742015D,0x0000000000000000000000000000000000000000,8.0,13.0,0.964,1.3,21.0,-0.336
3,0xADbE60478f814e6bB3E1c4A69670Fae36c8C68F5,0x8650Ea8ED8D56B18087451c4E083244e8E3F3826,1.0,19.0,0.292,1.9,20.0,-1.608
4,0x03aB242c1D91b0Cf8bF7bb794461aD895AC3696c,0xe6BE238c591264B524b6AB65ff8Ab72f3bA4AFa1,4.0,13.0,1.168,1.3,17.0,-0.132

In [40]:
new_players = pd.DataFrame(set_diff, columns=["burners"])

In [41]:
new_players["burnerParent"] = "0x0"

In [42]:
new_players[["totalWins", "totalLosses", "totalGasEarned", "totalGasLost"]] = 0

In [43]:
len(new_players)

14911

In [44]:
players = pd.concat([players, new_players])
print(len(players))
players.tail()

19304

,burners,burnerParent,totalWins,totalLosses,totalGasEarned,totalGasLost,totalGames,totalRevenue
14906,0xffa87ed1477FCc96C19aecD6d802f6b0EBf2149D,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14907,0xffe164701953742Bdb16EE071b3dc6717AEcdEd1,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14908,0xffe9ACA61ad014dc74aBcc0A0b5fe60BccdD345E,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14909,0xfff0d61Fa2A17e28b3e3a3BCdD0a1a48a7924F64,0x0,0.0,0.0,0.0,0.0,NaN,NaN
14910,0xfff28B86a90339520059202Ceb9a3564E031CF03,0x0,0.0,0.0,0.0,0.0,NaN,NaN

In [46]:
players.to_csv("players.csv", index=False)

In [47]:
players.to_pickle("players.pkl")